

--Bước 1 
USE [master]
GO
/****** Object:  Database [NhaHang]    Script Date: 21/12/2025 11:57:00 CH ******/
--Bước 2 
CREATE DATABASE [NhaHang]
 CONTAINMENT = NONE
 -- Bước 3 
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NhaHang].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NhaHang]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 21/12/2025 11:57:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[maHoaDon] [nvarchar](50) NOT NULL,
	[ngayLap] [date] NOT NULL,
	[maPhieuDat] [nvarchar](50) NULL,
	[trangThai] [nvarchar](50) NULL,
	[tongTien] [float] NULL,
	[maKhuyenMai] [nchar](10) NULL,
	[loaiHoaDon] [nchar](10) NULL,
	[gioLapHoaDon] [datetime] NULL,
 CONSTRAINT [PK__HoaDon__026B4D9A67745BAB] PRIMARY KEY CLUSTERED 
(
	[maHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VW_ThongKeDoanhThuTheoThang]    Script Date: 21/12/2025 11:57:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. Tạo View mới
CREATE VIEW [dbo].[VW_ThongKeDoanhThuTheoThang]
AS
SELECT
    -- Trích xuất Năm (sẽ luôn là 2025)
    YEAR(ngayLap) AS Nam,
    
    -- Trích xuất Tháng
    MONTH(ngayLap) AS Thang,
    
    -- Tính tổng doanh thu (Tổng của tongTien)
    SUM(tongTien) AS TongDoanhThu,
    
    -- Tính số lượng hóa đơn trong tháng
    COUNT(maHoaDon) AS SoLuongHoaDon
FROM
    dbo.HoaDon
WHERE
    -- Lọc theo trạng thái 'Đã thanh toán'
    trangThai = N'Đã thanh toán'
    -- Bổ sung điều kiện lọc chỉ lấy hóa đơn của năm 2025
    AND YEAR(ngayLap) = 2025
GROUP BY
    YEAR(ngayLap),
    MONTH(ngayLap);
GO
/****** Object:  Table [dbo].[UserAccount]    Script Date: 21/12/2025 11:57:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAccount](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tenNguoiDung] [nvarchar](100) NOT NULL,
	[matKhau] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[thuNganAcc]    Script Date: 21/12/2025 11:57:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[thuNganAcc] 
as select * from [dbo].[UserAccount]
where tenNguoiDung = 'thungan'
GO
/****** Object:  Table [dbo].[BanAn]    Script Date: 21/12/2025 11:57:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BanAn](
	[maBan] [int] NOT NULL,
	[soCho] [int] NULL,
	[trangThai] [nvarchar](50) NULL,
	[loaiBan] [nchar](10) NULL,
 CONSTRAINT [PK__BanAn__1B8FFFB2B109CE33] PRIMARY KEY CLUSTERED 
(
	[maBan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BaoCao]    Script Date: 21/12/2025 11:57:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaoCao](
	[maBaoCao] [int] IDENTITY(1,1) NOT NULL,
	[thang] [int] NULL,
	[noiDung] [nvarchar](255) NULL,
	[tongDoanhThu] [float] NULL,
 CONSTRAINT [PK__BaoCao__D21F362A0E1662FF] PRIMARY KEY CLUSTERED 
(
	[maBaoCao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietBanDat]    Script Date: 21/12/2025 11:57:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietBanDat](
	[MaChiTiet] [int] IDENTITY(1,1) NOT NULL,
	[maPhieuDat] [nvarchar](50) NOT NULL,
	[maBan] [int] NULL,
 CONSTRAINT [PK_ChiTietBanDat] PRIMARY KEY CLUSTERED 
(
	[MaChiTiet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietBaoCao]    Script Date: 21/12/2025 11:57:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietBaoCao](
	[maCTBAoCao] [nchar](10) NOT NULL,
	[maHoaDon] [varchar](50) NULL,
	[maBaoCao] [nchar](10) NULL,
 CONSTRAINT [PK_ChiTietBaoCao] PRIMARY KEY CLUSTERED 
(
	[maCTBAoCao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietDatMon]    Script Date: 21/12/2025 11:57:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDatMon](
	[maChiTietDatMon] [nchar](10) NOT NULL,
	[maPhieu] [nvarchar](50) NULL,
	[maMon] [varchar](50) NULL,
	[soLuong] [int] NULL,
	[tenMonAn] [nvarchar](100) NULL,
 CONSTRAINT [PK__ChiTietD__55136DFADF1A4190] PRIMARY KEY CLUSTERED 
(
	[maChiTietDatMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 21/12/2025 11:57:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[maKhachHang] [nvarchar](50) NOT NULL,
	[hoTen] [nvarchar](100) NULL,
	[soDienThoai] [nvarchar](15) NULL,
	[email] [nvarchar](100) NULL,
	[hang] [nchar](10) NULL,
	[tongdiem] [int] NULL,
	[gioiTinh] [nchar](10) NULL,
 CONSTRAINT [PK__KhachHan__0CCB3D4982A7567E] PRIMARY KEY CLUSTERED 
(
	[maKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhuyenMai]    Script Date: 21/12/2025 11:57:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuyenMai](
	[maKhuyenMai] [nchar](10) NOT NULL,
	[tenKhuyenMai] [nvarchar](100) NOT NULL,
	[phamTramGiam] [float] NULL,
	[ngayBatDau] [date] NULL,
	[ngayKetThuc] [date] NULL,
	[moTa] [nvarchar](max) NULL,
 CONSTRAINT [PK__KhuyenMa__87BEDDE9428AF119] PRIMARY KEY CLUSTERED 
(
	[maKhuyenMai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonAn]    Script Date: 21/12/2025 11:57:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonAn](
	[maMon] [varchar](50) NOT NULL,
	[tenMon] [nvarchar](100) NOT NULL,
	[loaiMon] [nvarchar](50) NULL,
	[gia] [float] NULL,
	[moTa] [nvarchar](255) NULL,
 CONSTRAINT [PK__MonAn__27547BFA5178F552] PRIMARY KEY CLUSTERED 
(
	[maMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 21/12/2025 11:57:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[maNhanVien] [nvarchar](50) NOT NULL,
	[hoTen] [nvarchar](100) NOT NULL,
	[gioiTinh] [nvarchar](10) NULL,
	[caLamViec] [nvarchar](50) NULL,
	[sdt] [nvarchar](15) NULL,
	[email] [nvarchar](100) NULL,
	[chucVu] [nvarchar](50) NULL,
	[idUser] [int] NULL,
 CONSTRAINT [PK__NhanVien__BDDEF20D216CF02A] PRIMARY KEY CLUSTERED 
(
	[maNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuDat]    Script Date: 21/12/2025 11:57:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuDat](
	[maPhieu] [nvarchar](50) NOT NULL,
	[maKhachHang] [nvarchar](50) NULL,
	[tenKhachDat] [nvarchar](50) NULL,
	[sdtDat] [nchar](10) NULL,
	[tienCoc] [float] NULL,
	[emailDat] [nvarchar](50) NULL,
	[trangThai] [nvarchar](50) NULL,
	[maNhanVien] [nvarchar](50) NULL,
	[ngayDat] [nchar](10) NULL,
	[gioDat] [nvarchar](10) NULL,
	[thoiGianDat] [datetime] NULL,
 CONSTRAINT [PK__PhieuDat__49A5B11F5B017AE9] PRIMARY KEY CLUSTERED 
(
	[maPhieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BanAn] ([maBan], [soCho], [trangThai], [loaiBan]) VALUES (1, 4, N'Trống', N'Thường    ')
INSERT [dbo].[BanAn] ([maBan], [soCho], [trangThai], [loaiBan]) VALUES (2, 4, N'Trống', N'Thường    ')
INSERT [dbo].[BanAn] ([maBan], [soCho], [trangThai], [loaiBan]) VALUES (3, 4, N'Trống', N'Thường    ')
GO
SET IDENTITY_INSERT [dbo].[ChiTietBanDat] ON 

INSERT [dbo].[ChiTietBanDat] ([MaChiTiet], [maPhieuDat], [maBan]) VALUES (1, N'PD001', 1)
INSERT [dbo].[ChiTietBanDat] ([MaChiTiet], [maPhieuDat], [maBan]) VALUES (2, N'PD002', 2)
INSERT [dbo].[ChiTietBanDat] ([MaChiTiet], [maPhieuDat], [maBan]) VALUES (3, N'PD002', 3)
SET IDENTITY_INSERT [dbo].[ChiTietBanDat] OFF
GO
INSERT [dbo].[ChiTietDatMon] ([maChiTietDatMon], [maPhieu], [maMon], [soLuong], [tenMonAn]) VALUES (N'CT001     ', N'PD001', N'MA002', 1, N'Ð?u hu chiên giòn')
INSERT [dbo].[ChiTietDatMon] ([maChiTietDatMon], [maPhieu], [maMon], [soLuong], [tenMonAn]) VALUES (N'CTDM000002', N'PD20251211154201270', N'MA006', 3, N'Lẩu thái hải sản')
INSERT [dbo].[ChiTietDatMon] ([maChiTietDatMon], [maPhieu], [maMon], [soLuong], [tenMonAn]) VALUES (N'CTDM000003', N'PD20251212165301258', N'MA006', 2, N'Lẩu thái hải sản')
GO
INSERT [dbo].[HoaDon] ([maHoaDon], [ngayLap], [maPhieuDat], [trangThai], [tongTien], [maKhuyenMai], [loaiHoaDon], [gioLapHoaDon]) VALUES (N'HD20251221001', CAST(N'2025-06-26' AS Date), NULL, N'Đã hủy', 1047000, NULL, N'Tại chỗ   ', CAST(N'2025-12-21T23:50:45.777' AS DateTime))
INSERT [dbo].[HoaDon] ([maHoaDon], [ngayLap], [maPhieuDat], [trangThai], [tongTien], [maKhuyenMai], [loaiHoaDon], [gioLapHoaDon]) VALUES (N'HD20251221002', CAST(N'2025-07-22' AS Date), NULL, N'Chưa thanh toán', 1213000, NULL, N'Tại chỗ   ', CAST(N'2025-12-21T23:50:45.780' AS DateTime))
INSERT [dbo].[HoaDon] ([maHoaDon], [ngayLap], [maPhieuDat], [trangThai], [tongTien], [maKhuyenMai], [loaiHoaDon], [gioLapHoaDon]) VALUES (N'HD20251221003', CAST(N'2025-07-01' AS Date), NULL, N'Đã hủy', 1160000, NULL, N'Tại chỗ   ', CAST(N'2025-12-21T23:50:45.780' AS DateTime))
GO
INSERT [dbo].[KhachHang] ([maKhachHang], [hoTen], [soDienThoai], [email], [hang], [tongdiem], [gioiTinh]) VALUES (N'KH001', N'Nguyễn Văn An', N'0905123456', N'an.nguyen@example.com', N'Đồng      ', 120, N'Nam       ')
INSERT [dbo].[KhachHang] ([maKhachHang], [hoTen], [soDienThoai], [email], [hang], [tongdiem], [gioiTinh]) VALUES (N'KH002', N'Lê Thị Bíc', N'0912345678', N'bich.le@example.com', N'Bạc       ', 560, N'Nữ        ')
INSERT [dbo].[KhachHang] ([maKhachHang], [hoTen], [soDienThoai], [email], [hang], [tongdiem], [gioiTinh]) VALUES (N'KH003', N'Trần Quốc Cường', N'0987654321', N'cuong.tran@example.com', N'Vàng      ', 1250, N'Nam       ')
GO
INSERT [dbo].[KhuyenMai] ([maKhuyenMai], [tenKhuyenMai], [phamTramGiam], [ngayBatDau], [ngayKetThuc], [moTa]) VALUES (N'KM004     ', N'Ưu đãi Quốc tế Phụ nữ 8/3', 25, CAST(N'2025-03-01' AS Date), CAST(N'2025-03-10' AS Date), N'Giảm 25% cho khách hàng nữ trong thời gian diễn ra sự kiện')
INSERT [dbo].[KhuyenMai] ([maKhuyenMai], [tenKhuyenMai], [phamTramGiam], [ngayBatDau], [ngayKetThuc], [moTa]) VALUES (N'KM005     ', N'Mừng Đại lễ 30/4 - 1/5', 20, CAST(N'2025-04-25' AS Date), CAST(N'2025-05-02' AS Date), N'Giảm 20% cho tất cả đơn hàng nhân dịp lễ lớn')
INSERT [dbo].[KhuyenMai] ([maKhuyenMai], [tenKhuyenMai], [phamTramGiam], [ngayBatDau], [ngayKetThuc], [moTa]) VALUES (N'KM006     ', N'Giáng sinh rộn ràng', 30, CAST(N'2025-12-15' AS Date), CAST(N'2025-12-31' AS Date), N'Giảm 30% cho hóa đơn từ 500.000đ trở lên')
GO
INSERT [dbo].[MonAn] ([maMon], [tenMon], [loaiMon], [gia], [moTa]) VALUES (N'MA002', N'Đậu hũ chiên giòn', N'Khai vị', 45000, N'Đậu hũ chiên vàng giòn rụm, chấm tương ớt.')
INSERT [dbo].[MonAn] ([maMon], [tenMon], [loaiMon], [gia], [moTa]) VALUES (N'MA003', N'Khoai tây chiên', N'Khai vị', 40000, N'Món ăn nhẹ, phù hợp ăn kèm khi chờ lẩu sôi.')
INSERT [dbo].[MonAn] ([maMon], [tenMon], [loaiMon], [gia], [moTa]) VALUES (N'MA004', N'Salad rong biển trứng cua', N'Khai vị', 65000, N'Rong biển giòn nhẹ, hòa quyện vị béo của trứng cua.')
GO
INSERT [dbo].[NhanVien] ([maNhanVien], [hoTen], [gioiTinh], [caLamViec], [sdt], [email], [chucVu], [idUser]) VALUES (N'NV001', N'NguyenVanA', N'Nam', N'Ca Sáng', N'0913661013', N'vanA@gmail.com', N'Quan ly', 1)
INSERT [dbo].[NhanVien] ([maNhanVien], [hoTen], [gioiTinh], [caLamViec], [sdt], [email], [chucVu], [idUser]) VALUES (N'NV002', N'NguyenVanB', N'Nam', N'Ca Sáng', N'0913661023', N'vanB@gmail.com', N'Thu ngan', 3)
GO
INSERT [dbo].[PhieuDat] ([maPhieu], [maKhachHang], [tenKhachDat], [sdtDat], [tienCoc], [emailDat], [trangThai], [maNhanVien], [ngayDat], [gioDat], [thoiGianDat]) VALUES (N'PD001', N'KH001', N'Trần Văn Bách', N'0901112233', 250000, N'bach@mail.com', N'Đặt trước', N'NV002', N'2025-11-30', NULL, CAST(N'1900-01-01T18:00:00.000' AS DateTime))
INSERT [dbo].[PhieuDat] ([maPhieu], [maKhachHang], [tenKhachDat], [sdtDat], [tienCoc], [emailDat], [trangThai], [maNhanVien], [ngayDat], [gioDat], [thoiGianDat]) VALUES (N'PD002', N'KH002', N'Nguyễn Thị Hồng', N'0902223344', 250000, N'hong@mail.com', N'Đã xác nhận', N'NV002', N'2025-11-30', NULL, CAST(N'1900-01-01T19:30:00.000' AS DateTime))
INSERT [dbo].[PhieuDat] ([maPhieu], [maKhachHang], [tenKhachDat], [sdtDat], [tienCoc], [emailDat], [trangThai], [maNhanVien], [ngayDat], [gioDat], [thoiGianDat]) VALUES (N'PD003', N'KH003', N'Phạm Minh Duy', N'0903334455', 250000, N'duy@mail.com', N'Đã hủy', N'NV002', N'2025-11-30', NULL, CAST(N'1900-01-01T11:00:00.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[UserAccount] ON 

INSERT [dbo].[UserAccount] ([id], [tenNguoiDung], [matKhau]) VALUES (1, N'admin', N'123456')
INSERT [dbo].[UserAccount] ([id], [tenNguoiDung], [matKhau]) VALUES (3, N'thungan', N'654321')
INSERT [dbo].[UserAccount] ([id], [tenNguoiDung], [matKhau]) VALUES (4, N'admin1', N'123457')
SET IDENTITY_INSERT [dbo].[UserAccount] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KhachHan__06ACB9A2CBB92D8B]    Script Date: 21/12/2025 11:57:01 CH ******/
ALTER TABLE [dbo].[KhachHang] ADD  CONSTRAINT [UQ__KhachHan__06ACB9A2CBB92D8B] UNIQUE NONCLUSTERED 
(
	[soDienThoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_MonAn_TenMon]    Script Date: 21/12/2025 11:57:01 CH ******/
CREATE NONCLUSTERED INDEX [IX_MonAn_TenMon] ON [dbo].[MonAn]
(
	[tenMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_NhanVien_Email]    Script Date: 21/12/2025 11:57:01 CH ******/
ALTER TABLE [dbo].[NhanVien] ADD  CONSTRAINT [UQ_NhanVien_Email] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__UserAcco__4390071095C9E44B]    Script Date: 21/12/2025 11:57:01 CH ******/
ALTER TABLE [dbo].[UserAccount] ADD UNIQUE NONCLUSTERED 
(
	[tenNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChiTietBanDat]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietBanDat_BanAn] FOREIGN KEY([maBan])
REFERENCES [dbo].[BanAn] ([maBan])
GO
ALTER TABLE [dbo].[ChiTietBanDat] CHECK CONSTRAINT [FK_ChiTietBanDat_BanAn]
GO
ALTER TABLE [dbo].[ChiTietBanDat]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietBanDat_PhieuDat] FOREIGN KEY([maPhieuDat])
REFERENCES [dbo].[PhieuDat] ([maPhieu])
GO
ALTER TABLE [dbo].[ChiTietBanDat] CHECK CONSTRAINT [FK_ChiTietBanDat_PhieuDat]
GO
ALTER TABLE [dbo].[ChiTietDatMon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDatMon_MonAn] FOREIGN KEY([maMon])
REFERENCES [dbo].[MonAn] ([maMon])
GO
ALTER TABLE [dbo].[ChiTietDatMon] CHECK CONSTRAINT [FK_ChiTietDatMon_MonAn]
GO
ALTER TABLE [dbo].[ChiTietDatMon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDatMon_PhieuDat] FOREIGN KEY([maPhieu])
REFERENCES [dbo].[PhieuDat] ([maPhieu])
GO
ALTER TABLE [dbo].[ChiTietDatMon] CHECK CONSTRAINT [FK_ChiTietDatMon_PhieuDat]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK__HoaDon__maKhuyen__5DCAEF64] FOREIGN KEY([maKhuyenMai])
REFERENCES [dbo].[KhuyenMai] ([maKhuyenMai])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK__HoaDon__maKhuyen__5DCAEF64]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_PhieuDat] FOREIGN KEY([maPhieuDat])
REFERENCES [dbo].[PhieuDat] ([maPhieu])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_PhieuDat]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK__NhanVien__idUser__3B75D760] FOREIGN KEY([idUser])
REFERENCES [dbo].[UserAccount] ([id])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK__NhanVien__idUser__3B75D760]
GO
ALTER TABLE [dbo].[PhieuDat]  WITH CHECK ADD  CONSTRAINT [FK__PhieuDat__maNhan__4CA06362] FOREIGN KEY([maNhanVien])
REFERENCES [dbo].[NhanVien] ([maNhanVien])
GO
ALTER TABLE [dbo].[PhieuDat] CHECK CONSTRAINT [FK__PhieuDat__maNhan__4CA06362]
GO
ALTER TABLE [dbo].[PhieuDat]  WITH CHECK ADD  CONSTRAINT [FK_PhieuDat_KhachHang] FOREIGN KEY([maKhachHang])
REFERENCES [dbo].[KhachHang] ([maKhachHang])
GO
ALTER TABLE [dbo].[PhieuDat] CHECK CONSTRAINT [FK_PhieuDat_KhachHang]
GO
ALTER TABLE [dbo].[BanAn]  WITH CHECK ADD  CONSTRAINT [CK__BanAn__soCho__3E52440B] CHECK  (([soCho]>(0)))
GO
ALTER TABLE [dbo].[BanAn] CHECK CONSTRAINT [CK__BanAn__soCho__3E52440B]
GO
ALTER TABLE [dbo].[BanAn]  WITH CHECK ADD  CONSTRAINT [CK_BanAn_LoaiBan_New] CHECK  (([loaiBan]=N'Deluxe' OR [loaiBan]='VIP' OR [loaiBan]=N'Thường'))
GO
ALTER TABLE [dbo].[BanAn] CHECK CONSTRAINT [CK_BanAn_LoaiBan_New]
GO
ALTER TABLE [dbo].[BanAn]  WITH CHECK ADD  CONSTRAINT [CK_BanAn_TrangThai_New] CHECK  (([trangThai]=N'Đặt trước' OR [trangThai]=N'Đang sử dụng' OR [trangThai]=N'Trống'))
GO
ALTER TABLE [dbo].[BanAn] CHECK CONSTRAINT [CK_BanAn_TrangThai_New]
GO
ALTER TABLE [dbo].[BaoCao]  WITH CHECK ADD  CONSTRAINT [CK__BaoCao__thang__60A75C0F] CHECK  (([thang]>=(1) AND [thang]<=(12)))
GO
ALTER TABLE [dbo].[BaoCao] CHECK CONSTRAINT [CK__BaoCao__thang__60A75C0F]
GO
ALTER TABLE [dbo].[BaoCao]  WITH CHECK ADD  CONSTRAINT [CK__BaoCao__tongDoan__619B8048] CHECK  (([tongDoanhThu]>=(0)))
GO
ALTER TABLE [dbo].[BaoCao] CHECK CONSTRAINT [CK__BaoCao__tongDoan__619B8048]
GO
ALTER TABLE [dbo].[ChiTietDatMon]  WITH CHECK ADD  CONSTRAINT [CK__ChiTietDa__soLuo__534D60F1] CHECK  (([soLuong]>(0)))
GO
ALTER TABLE [dbo].[ChiTietDatMon] CHECK CONSTRAINT [CK__ChiTietDa__soLuo__534D60F1]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [CK__HoaDon__tongTien__5BE2A6F2] CHECK  (([tongTien]>=(0)))
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [CK__HoaDon__tongTien__5BE2A6F2]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [CK__HoaDon__trangTha__5AEE82B9] CHECK  (([trangThai]=N'Đã hủy' OR [trangThai]=N'Đã thanh toán' OR [trangThai]=N'Chưa thanh toán'))
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [CK__HoaDon__trangTha__5AEE82B9]
GO
ALTER TABLE [dbo].[KhuyenMai]  WITH CHECK ADD  CONSTRAINT [CK__KhuyenMai__phamT__5812160E] CHECK  (([phamTramGiam]>=(0) AND [phamTramGiam]<=(100)))
GO
ALTER TABLE [dbo].[KhuyenMai] CHECK CONSTRAINT [CK__KhuyenMai__phamT__5812160E]
GO
ALTER TABLE [dbo].[MonAn]  WITH CHECK ADD  CONSTRAINT [CK__MonAn__gia__5070F446] CHECK  (([gia]>(0)))
GO
ALTER TABLE [dbo].[MonAn] CHECK CONSTRAINT [CK__MonAn__gia__5070F446]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [CK_NhanVien_ChucVu_New] CHECK  (([chucVu]='THU NGAN' OR [chucVu]='QUAN LY'))
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [CK_NhanVien_ChucVu_New]
GO
ALTER TABLE [dbo].[PhieuDat]  WITH CHECK ADD  CONSTRAINT [CK__PhieuDat__tienCo__4AB81AF0] CHECK  (([tienCoc]>=(0)))
GO
ALTER TABLE [dbo].[PhieuDat] CHECK CONSTRAINT [CK__PhieuDat__tienCo__4AB81AF0]
GO
ALTER TABLE [dbo].[PhieuDat]  WITH CHECK ADD  CONSTRAINT [CK_PhieuDat_TrangThai_New2] CHECK  (([trangThai]=N'Đã Thanh Toán' OR [trangThai]=N'Đặt trước' OR [trangThai]=N'Đã xác nhận' OR [trangThai]=N'Đã hủy'))
GO
ALTER TABLE [dbo].[PhieuDat] CHECK CONSTRAINT [CK_PhieuDat_TrangThai_New2]
GO
USE [master]
GO
